{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.8.3.min.js"></script>
    <title>test</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
{% autoescape off %}
    <div id="sondagepresidentielle2022div">
        <form name="sondagepresidentielle2022">
            <input id="sondagepresidentielle2022" type="month" name="moissondage2022" value="{{ monthpresidentielle2022 }}">
            {{ presidentielle2022 }}
        </form>
    <script>
    $("#sondagepresidentielle2022").on("change",function (){
        $("form[name='sondagepresidentielle2022']").submit()
    })
    </script>
    </div>
    <select name="" id="generate_bar">
        <option value="0">Choisir une région</option>
        {% for key, generate_bar in generate_bar_1 %}
            <option value="{{ key }}">{{ generate_bar }}</option>
        {% endfor %}        
    </select>
    <div id="graph_zone"></div>
    {{ data }}
    {{sondage_line}}
    {{ example_plot_div }}
    {{ plot_pie }}
    {{ popularity }}
    {{ region_dataframe }}
{% endautoescape %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>